@page
@model Morgenmadsbuffeten.Pages.NewBreakfastBookingView.IndexModel

@{
    ViewData["Title"] = "This many people had breakfast!";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New BreakfastBooking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].NumberOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BreakfastBookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BreakfastBookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BreakfastBookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BreakfastBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
