@page
@model Morgenmadsbuffeten.Pages.NewBreakfastBookingView.KitchenGetModel

@{
    ViewData["Title"] = "Kitchen stuff";
}

<h1>Get info here kitchen people</h1>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrdersAdults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrdersChildren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCheckedInAdults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCheckedInChildren)
        </th>
         <th>
            @Html.Display("TotalGuestsNotCheckedIn")
        </th>
        <th>
            @Html.Display("TotalAdultsNotCheckedIn")
        </th>
        <th>
            @Html.Display("TotalChildrenNotCheckedIn")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TotalOrders)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalOrdersAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalOrdersChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalCheckedInAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalCheckedInChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalAdultsNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalChildrenNotCheckedIn)
            </td>
        </tr>
    </tbody>
</table>
