@page
@model Morgenmadsbuffeten.Pages.BreakfastBookingView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BreakfastBooking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.AdultsCheckedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.AdultsCheckedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.ChildrenCheckedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.ChildrenCheckedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.AdultsOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.AdultsOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.ChildrenOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.ChildrenOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastBooking.RoomBooking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreakfastBooking.RoomBooking.RoomNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BreakfastBooking.BreakfastBookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
