@page
@model Morgenmadsbuffeten.Pages.BreakfastBookingView.KitchenGetModel

@{
    ViewData["Title"] = "Kitchen stuff";
}
    <script src="/js/signalr/dist/browser/signalr.js"></script>
    <script src="/js/breakfastUpdate.js"></script>
    <script src="/js/KitchenGet.js"></script>


<h1>Get info here kitchen people</h1>
    <form method="get">
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input id="dateInput" type="date" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </form>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrdersAdults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOrdersChildren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCheckedInAdults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCheckedInChildren)
        </th>
         <th>
            TotalGuestsNotCheckedIn
        </th>
        <th>
            TotalAdultsNotCheckedIn
        </th>
        <th>
            TotalChildrenNotCheckedIn
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TotalOrders)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalOrdersAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalOrdersChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalCheckedInAdults)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalCheckedInChildren)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalAdultsNotCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalChildrenNotCheckedIn)
            </td>
        </tr>
    </tbody>
</table>
