@page
@model Morgenmadsbuffeten.Pages.RoomBookingView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List over rooms and number of guests who had breakfast today</h1>

<h2>Date: @DateTime.Now.Date</h2>
<p>
    <a asp-page="Create">Create New Room Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakfastBookings[0].NumberOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BreakfastBookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
